@{
    ViewBag.Title = "C#";
}
<div class="container jumbotron">
    @*<h1 class="text-center">C#</h1>*@
    <p style="text-align:center">
        <img alt="C# picture" src="~/img/pic.jpg" />
    </p>

</div>
<div class="row" id="first-row">
    <div class="col-md-4">
        <h2>Prgram 1</h2>
        <p> <a class="btn btn-default" href="https://github.com/max02man/CIS199-program1">Github</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prgram 2</h2>
        <p> <a class="btn btn-default" href="https://github.com/max02man/CIS199-Program2">Github</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prgram 3</h2>
        <p> <a class="btn btn-default" href="https://github.com/max02man/CIS199-program3">Github</a></p>
    </div>
</div>
<div class="row" id="2nd-row">
    <div class="col-md-4">
        <h2>Prgram 4</h2>
        <p> <a class="btn btn-default" href="https://github.com/max02man/CIS199-program4">Github</a></p>
    </div>
    <div class="col-md-4">
        <h2>Payrool System</h2>
        <p> <a class="btn btn-default" href="https://github.com/max02man/CIS199-PayrollSystem">Github</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rent Calclater</h2>
        <p>This App calcalale the rent and untilies for the resdent per month and per day</p>
        <p> <a class="btn btn-default" href="https://github.com/max02man/Outside-work-Rent-calculator">Github</a></p>
    </div>
</div>
